:root {
  --affair: #6a4685;
  --darkpurple: #660066;
  --eminence: #6c3082;
  --electric: #8f00ff;
  --tacao: #6f3096;
  --white: #fff;

  --bg-nav: linear-gradient(var(--tacao), var(--eminence));

  --font-color-nav: var(--white);
}

.App {
  text-align: center;
}

.App-logo {
  margin: 0 1rem;
  height: 50px;
}

.App-link {
  color: #61dafb;
}

.App-header {
  background: url("./images/pngtree-dark-fruit-wallpaper-picture-image_2695132\ \(1\).png");
  background-position: center;
  background-size: cover;
  height: 50vh;
}

.wrapper {
  min-height: 100vh;
}

main {
  background: #000;
  color: #fff;
  min-height: 100vh;
}

.active {
  background: var(--electric) !important;
  color: #fff !important;
}

h1 {
  font-size: clamp(4rem, 6vw, 6rem) !important;
}

/* Testing */

/*
* {
  border: 1px solid red;
}
*/
