:root {
  --affair: #6a4685;
  --darkpurple: #660066;
  --eminence: #6C3082;
  --tacao: #6f3096;
  --white: #fff;

  --bg-nav: linear-gradient(var(--tacao), var(--eminence));

  --font-color-nav: var(--white);
}

.App {
  text-align: center;
}

.App-logo {
  width: 100px;
}

.App-link {
  color: #61dafb;
}

main {
  background: #000;
  color: #fff;
}