:root {
  --affair: #6a4685;
  --eminence: #6C3082;
  --tacao: #6f3096;
  --white: #fff;

  --bg-nav: linear-gradient(var(--tacao), var(--eminence));

  --font-color-nav: var(--white);
}

.App {
  text-align: center;
}

.App-header {

}

.App-link {
  color: #61dafb;
}

nav {
  background: var(--bg-nav);
}

.nav-link {
  color: var(--font-color-nav) !important;
}

main {
  background: #000;
  color: #fff;
}